<div *ngrxLet="pullRequests$ as pullRequests">
  @if (pullRequests.length) {
    <div
      class="pull-requests"
      [class.is-loading]="isLoadingPullRequests$ | async"
    >
      @for (pr of pullRequests; track "id") {
        <app-pr [pr]="pr" />
      }
    </div>
  } @else {
    <div class="empty-list">
      @if (isLoadingPullRequests$ | async) {
        <mat-spinner color="accent" />
      } @else {
        <div class="mat-headline-4">
          No PRs found!
          <mat-icon>sentiment_very_satisfied</mat-icon>
        </div>
      }
    </div>
  }
</div>
